template(name="header")
  header.header.fixed-top.clearfix
    // Logo Start
    .brand
      a.logo(href="{{pathFor 'index'}}")
        //img(src="images/logo.png")
        span(style="color: white; line-height: 38px; padding-left: 20px;") Meteor CRM

      .sidebar-toggle-box
        .fa.fa-bars

    .nav.notify-row#top_menu
      ul.nav.top-menu
        p {{projectName}}
  
    .top-nav.clearfix
      ul.nav.pull-right.top-menu
        +loginButtons align="right"

template(name="sidebar")
  aside
    #sidebar.nav-collapse
      .leftside-navigation
        ul.sidebar-menu#nav-accordion

          li
            a(class="{{isActive 'index'}}", href="{{pathFor 'index'}}")
              i.fa.fa-dashboard
              span People

          li
            a(class="{{isActive 'setting'}}", href="{{pathFor 'setting'}}")
              i.fa.fa-cog
              span Setting

