template(name="index")
  .row
    each projectUsers
      .col-md-4
        a(href="{{pathFor 'profile'}}")
          .mini-stat.clearfix
            span.mini-stat-icon
              img(style="margin-top: -5px; width: 60px;", src="{{avatar}}")
            span.mini-stat-info 
              span(style="font-size: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;") {{fullname}}
              | {{email}}
