template(name="profile")
  .row
    .col-md-12
      section.panel
        .panel-body.profile-information
          .col-md-3
            .profile-pic.text-center
              img(src="{{avatar}}")
          .col-md-6
            .profile-desk
              //h1 
              span {{projectUser.email}}
              //p j23oj23oj23
              //a.btn.btn-primary(href="#") View Profile

    .col-md-12
      section.panel
        .panel-body
          .recent-act
            h1 Recent Activity
            br
            br
            .activity-desk
              h2 1 Hour Ago
              p Purchased new stationary items for head office
            br
            br
            .activity-desk
              h2 2 Hour Ago
              p Purchased new stationary items for head office
